:root {
	--color-main: #f7999b;
	--color-link: #91d3ff;
	--color-content: #ffffff;
	--color-link-hover: #000000;
	--color-neutral: darkgrey;

	--trans-flag-blue: #5BCEFA;
	--trans-flag-pink: #F5A9B8;
	--trans-flag-white: #ffffff;
}

@font-face {
  font-family: 'ComicMono';
  src: url('/res/fonts/ComicMono.ttf') format('truetype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'ComicMono';
  src: url('/res/fonts/ComicMono-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Root component rules */

div {
	margin: 0px; /* remove margin from dividers, some old browsers have margins on them */
	padding: 0px;
}

li::before {
	content: ">"
}

body {
	padding: 0px;
	margin: 0;
}

p, span, noscript {
	margin: 0;
	padding: 0;
	font-family: 'ComicMono', 'monospace';
	font-size: 16px;
	color: var(--color-content);
}

.noscript {
	background-color: #FF0000;
	padding: 4px;
	color:#FFFFFF;
}

a {
	margin: 0;
	padding: 0;
	font-family: 'ComicMono', monospace;
	font-size: 16px;
	font-weight: 400;
}

a:link {
	color: var(--color-link);
	text-decoration: none;
}

a:visited {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	background-color: var(--color-link);
	text-decoration: underline;
	color: var(--color-link-hover);
	height:16px;
	padding-left:2px;
	padding-right:2px;
}

/* good content :D */

h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	font-family: 'ComicMono', monospace;
	font-size: 24px;
	color: var(--color-main);
}

.h2-inline {
	margin-right: 8px;
}

.transblue {
	color: var(--trans-flag-blue)
}

.transpink {
	color: var(--trans-flag-pink)
}

.transwhite {
	color: var(--trans-flag-white)
}

.trans {
	font-size: 24px;
	margin-right: 8px;
	font-weight: 700;
}

.console-bg {
	height: 100vh;
	padding: 15px;
	box-sizing: border-box;
	background-color: #000000;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-main);
}

.console-main {
	height: 100%; /* Take up full height of the outer div */
	overflow-y: auto; /* Enable scrolling within this div */
	background-color: transparent;
	padding: 0px; /* Inner padding */
}


.sep {
	height: 1px;
	background-color: var(--color-main);
	margin-top: 3.5px;
	margin-bottom: 3.5px;
}

.emsep {
	height: 0px;
	padding: 4px
}

/* image container */
.container {
  display: flex;
  align-items: center; /* Vertically center the image and text */
  justify-content: left; /* Horizontally center the content within the container */
}

.funny-box {
	height: 128px;
	scrollbar-width: none;
}

.big-margin {
	margin:256px;
}

.container-top {
	align-items: flex-start;
}

.container-bottom {
	align-items: flex-end;
}

.small {
	font-size: 12px;
	color: var(--color-neutral);
}

.list-marker {
	height: 16px;
	margin-right: 8px;
	font-family: monospace;
	color: var(--color-main);
}

.contained-img {
  margin-right: 8px; /* Optional: Adds spacing between the image and the label */
  height: 128px; /* Optional: Set the height of the image */
  width: auto; /* Optional: Keep the aspect ratio of the image */
}

.small-img {
	margin-right: 8px;
	height: 24px; /* Optional: Set the height of the image */
  width: auto; /* Optional: Keep the aspect ratio of the image */
}